*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --Bg--color: #191919;
  --Text--color: #e5e5e5;
}

html {
  font-family: "Work Sans", sans-serif;
  line-height: 1.4;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 77.75em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 61%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 59.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 50.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 23.44em) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  background: var(--Bg--color);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 40em) {
  .flex {
    flex-direction: row;
  }
}
.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  align-items: center;
  padding: 4rem;
}
.card__figure {
  flex: 0 1 65%;
  overflow: hidden;
}
.card:nth-child(2) .card__figure {
  order: 4;
}
.card__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__details {
  align-items: center;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.card__button {
  width: 100%;
  background: rgba(4, 235, 19, 0.937254902);
}
.card:hover .card__details {
  bottom: 0%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 50em) {
  .container {
    width: 80;
  }
}

.section {
  position: relative;
  width: 80%;
  margin: 15rem auto;
}
@media (min-width: 60rem) {
  .section {
    width: 65%;
  }
}
.section__container {
  position: relative;
}

.absolute--header {
  position: absolute;
  top: -10%;
}
@media (min-width: 90em) {
  .absolute--header {
    font-size: 12rem;
    top: -3%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
  color: var(--Text--color);
}

.heading-nav {
  font-size: 2rem;
  text-transform: uppercase;
}
.heading--jumbo {
  font-size: 6rem;
  font-weight: 400;
}
@media (max-width: 60rem) {
  .heading--jumbo {
    font-size: 3.5rem;
  }
}
.heading-primary {
  font-size: 3rem;
}
.heading--secondary {
  font-size: 8rem;
  color: #474747;
}
@media (min-width: 64em) {
  .heading--secondary {
    font-size: 12rem;
  }
}
.heading--tertiary {
  font-size: 2.8rem;
}
.heading--section {
  font-size: 6rem;
  position: relative;
}
@media (min-width: 60rem) {
  .heading--section {
    font-size: 12rem;
  }
}

.paragraph, .text {
  font-size: 2rem;
  font-weight: 200;
}
@media (max-width: 60rem) {
  .paragraph, .text {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
.paragraph-small, .text-small {
  font-size: 1.4rem;
  font-weight: 300;
}

.text--white {
  color: #fdfdff;
}

.link {
  color: #aaa;
  text-decoration: none;
}

.center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.relative {
  position: relative;
}

.pd-2 {
  padding: 2rem;
}

.width--max {
  width: 80%;
}

.width--max {
  width: 80%;
}
@media (min-width: 64rem) {
  .width--max {
    width: 55%;
  }
}

.button {
  padding: 1rem;
  border: transparent;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background: #2E3132;
  color: inherit;
}
@media (max-width: 60rem) {
  .button {
    font-size: 1.8rem;
  }
}
.button:hover {
  background: rgba(12, 0, 0, 0.1019607843);
  color: #fff;
  transform: translateY(-5px);
}

.icon {
  width: 3rem;
  height: 3rem;
}
.icon:hover {
  cursor: pointer;
}

.list {
  margin: 1rem 0;
}
.list-item {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6666666667), rgba(0, 0, 0, 0.8235294118)), url(../media/images/hero.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.header__container {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.header__cheveron {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-animation: upDown 2s ease-in-out infinite both;
          animation: upDown 2s ease-in-out infinite both;
  transition: all 1s ease-in-out;
}
.header__icon {
  fill: #b4b1b1;
}
.header svg {
  width: 5rem;
  height: 5rem;
}

.ad__block {
  border-radius: 10px;
  overflow: hidden;
  margin: 10rem 0;
}
@media (min-width: 40em) {
  .ad__block:nth-child(2) .ad__poster {
    order: 3;
  }
}
.ad__text {
  flex: 0 1 40%;
}
.ad__poster {
  flex: 0 1 35%;
  aspect-ratio: 1;
  overflow: hidden;
}

.team-profile {
  border-radius: 5rem;
  padding: 1rem 1rem;
}
.team-gallery {
  -webkit-clip-path: circle(40% at 50%);
          clip-path: circle(40% at 50%);
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}
.team-gallery__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}

.media {
  justify-content: center;
}
.media__video {
  width: 100vw;
  border-radius: 10px;
  box-shadow: 0 12px 12px 24px #0f0f0f;
  transform: scale(0.7);
}

.footer {
  padding: 10rem 4rem;
}
.footer__container {
  padding: 5rem;
  margin: 0 auto;
  width: 80vw;
  border-top: 0.2px dashed var(--Text--color);
}

@-webkit-keyframes upDown {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -20%);
  }
}

@keyframes upDown {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -20%);
  }
}/*# sourceMappingURL=style.css.map */