*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Work Sans', sans-serif;
    line-height: 1.7;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    scroll-snap-type: mandatory;
    box-sizing: border-box;

}