.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1rem 2rem;
    backdrop-filter: saturate(180%) blur(20px);
    background: #ffffff45;
    color: #1d1d1d;
    z-index: 100;
    opacity: 0;
}


.header {
    overflow: hidden;
    position: relative;
    height: 80vh;
    background-attachment: fixed;
    background: linear-gradient(to right, #1d1d1ddb, transparent 100%), url(../images/background.png);

    @media (min-width:60em) {
        height: 100vh;
    }
    

    &-container {
        height: 100%;
        width: 100%;
        padding-top: 70%;
        text-align: center;

        @media (min-width:64em) {
            padding-top: 50%;
        }
        @media (min-width:60em) {
            padding-top: 10%;
        }
    }

    &-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: 10;
    }
}



.mission {

    &-text {
        flex: 0 1 60%;
    }

    &-gallery {
        flex: 0 1 30%;
    }

    &-image {
        width: 100%;
    }
}



.team {
    &-profile {
        border-radius: 5rem;
        padding: 1rem 1rem;
    }


    &-gallery {
        clip-path: circle(40% at 50%);
        overflow: hidden;
        width: 70%;
        margin: 0 auto;

        &__img {
            width: 100%;
            object-fit: cover;
            filter: grayscale(100%);
        }
    }
}



.media {
    width: 70%;
    margin: 0 auto;
    padding: 4rem 0;


    &-container {
        position: relative;
        height: 65vh;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        @media (max-width: 70em) {
            & {
                height: 45vh;
            }
        }


        &__video {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5rem 25rem;
            height: 100%;
            width: 100%;

            @media (max-width: 70em) {
                & {
                    padding: 5rem 2%;
                }
            }
            transition:transform .3s ease-in-out;
        }
    }

    &-icon {
        width: 6rem;
        height: 6rem;
        padding: 2rem;
        position: absolute;
        border: thin solid #1d1d1d;
        border-radius: 100px;
        top: 45%;

        @media (max-width: 70em) {
            & {
                top: 90%;
                width: 4rem;
                height: 4rem;
                padding: 1rem;
            }
        }


        &:nth-child(odd) {
            left: 0%;
        }

        &:nth-child(even) {
            right: 0%;
        }
    }


    &-source {
        width: 100%;
        height: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        border-radius: 3rem;

        &__iframe {
            width: 100%;
            aspect-ratio: 3/2;
            height: 100%;
            object-fit: cover;
            border-radius: 3rem;

            @media (max-width:64em) {
                
            }
        }
    }

    &-label {
        width: 100%;
        aspect-ratio: 4/1;
        background-color: #FFf;

        &>span {
            margin-right: auto;
        }
    }
}


.footer {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 2rem 4rem;

    &-flex {
        flex-direction: row;
        justify-content: left;
    }

    &-note {
        width: 100%;
        margin: 10rem auto 0 auto;
        border-bottom: 1px solid #1d1d1d;

        @media (max-width:64em) {
            flex-direction: row;
        }
    }

    &-link {
        color: currentColor;
    }
}