.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media (min-width:60em) {
        flex-direction: row;
    }

    &-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.section {
    width: 80%;
    padding: 10rem 1rem;
    margin: 5% auto;
 

    @media (min-width: 60rem) {
        &{
            width: 70%;
            padding: 5rem;
        }
    }
}

.card {
    position: relative;
    width: 30rem;
    height: 40%;
    border-bottom: thin solid #1d1d1d;

    &-front {
        text-align: center;
        transform: rotateY(0);
    }
}
