.mb-2{margin-bottom: 2rem;}
.mt-2{margin-top: 2rem;}
.relative{position: relative;}

.button {
    padding: 1.5rem 1.7rem;
    border: transparent;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    border-radius: 5px;
    transition: all .6s ease-in-out;
    backdrop-filter: saturate(180%) blur(20px);
    background: #ffffff1a;
    color: #fff;
  

    @media (max-width: 60rem) {
        &{  font-size: 1.8rem;   }
    }

    &:hover{
      background: #0c00001a;
        color: #fff;
       transform: translateY(-5px);  
    }
}

.icon{
    width: 3rem;
    height: 3rem;

    &:hover{cursor: pointer;}
}

.list{
    margin: 1rem 0;
    &-item{
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

