.mb-2{margin-bottom: 2rem;}
.mt-2{margin-top: 2rem;}
.relative{position: relative;}
.pd-2{padding: 2rem;}

.button {
    padding: 1rem;
    border: transparent;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    transition: all .5s ease-in-out;
    backdrop-filter: saturate(180%) blur(20px);
    background: #2E3132;
    color: inherit;
  

    @media (max-width: 60rem) {
        &{  font-size: 1.8rem;   }
    }

    &:hover{
      background: #0c00001a;
        color: #fff;
       transform: translateY(-5px);  
    }
}

.icon{
    width: 3rem;
    height: 3rem;

    &:hover{cursor: pointer;}
}

.list{
    margin: 1rem 0;
    &-item{
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

